build
cmake-build-debug-coverage
debug
release
.history
*.log
vgcore*
.cache
gltf_json.txt
profileData
gmon.out
output.png
prof.jpg
cmake-build-debug
perf.data
perf.data.old
perf.txt
.tmp
src.bak
gltf-json.json
terrain-json.txt
dae-xml.txt
.VSCodeCounter

*.pak

gltf-json-debug
build-linux
build-win
out

*.spv.debug
*.spv.release